@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
    --main: rgba(165, 42, 42, 1);
    --overlay: rgba(68, 68, 68, 0.5);
    --blocks: rgba(255, 255, 255, 1);
    --readable: rgba(80, 80, 80, 1);
    --label: rgba(133, 133, 133, 1);
    --input: rgba(235, 235, 235, 1);
    --inputHover: rgba(165, 165, 165, 1);
    --buttonHover: rgb(105, 10, 10);
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    transition: 1s ease-in-out;
}

.bodyWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--overlay);
    width: 100%;
    height: 100%;
}

.leftWrapper {
    display: flex;
    justify-content: center;
    width: 60%;
}

.leftWrapper img {
    max-width: 500px;
}

.headerLogo-white {
    display: flex;
}

.headerLogo-black {
    display: none;
}

.rightWrapper {
    width: 40%;
}

.loginBox {
    display: block;
}

.registBox {
    display: none;
}

.loginBox,
.registBox {
    max-width: 550px;
    height: 100%;
    padding: 75px;
    border-radius: 5px;
    background: var(--blocks);
}

.loginBox h1,
.registBox h1 {
    margin-bottom: 35px;
}

.loginBox p,
.registBox p {
    color: var(--readable);
    margin-bottom: 75px;
}

.loginBox a,
.registBox a {
    color: var(--main);
    text-decoration: none;
    cursor: pointer;
}

.loginBox a:hover,
.registBox a:hover {
    text-decoration: underline;
}

.loginBox label,
.registBox label {
    color: var(--label);
    font-size: smaller;
}

.loginBox input,
.registBox input {
    color: var(--readable);
    outline: none;
    border: 0;
    border-bottom: 1px solid var(--input);
    margin-bottom: 50px;
    width: 100%;
    height: 35px;
    transition: 100ms ease-in-out;
}

.loginBox input:hover,
.registBox input:hover,
.loginBox input:focus,
.registBox input:focus {
    border-bottom: 1px solid var(--inputHover);
}

.loginBox input:focus,
.registBox input:focus {
    border-bottom: 2px solid var(--main);
}

.loginBox button,
.registBox button {
    float: right;
    background: var(--main);
    color: var(--blocks);
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    border-radius: 32px;
    transition: 100ms ease-in-out;
}

.loginBox button:hover,
.registBox button:hover {
    background: var(--buttonHover);
}

.loginBox span,
.registBox span {
    color: var(--readable);
    font-weight: bold;
    cursor: pointer;
}

.loginHelp {
    display: flex;
    margin-top: 150px;
}

@media (max-width: 767px) {
    .bodyWrapper {
        display: table;
        background: var(--blocks);
    }

    .leftWrapper {
        margin-top: 10%;
        width: 100%;
    }

    .leftWrapper img {
        max-width: 65%;
    }

    .headerLogo-white {
        display: none;
    }

    .headerLogo-black {
        display: flex;
    }

    .rightWrapper {
        width: 100%;
    }

    .loginBox,
    .registBox {
        padding: 15%;
        background: none;
    }

    .loginBox h1,
    .registBox h1 {
        margin-bottom: 5%;
    }

    .loginBox p,
    .registBox p {
        margin-bottom: 15%;
    }

    .loginBox input,
    .registBox input {
        margin-bottom: 10%;
    }

    .loginBox button,
    .registBox button {
        float: none;
        margin-top: 15%;
        width: 100%;
    }

    .loginHelp {
        margin-top: 15%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {}

@media (min-width: 1024px) {}